.rating-image {
  width: 150px;
}
.ratings-button {
  display: flex;
  flex-direction: row;
  align-items: center;

  border: none;
  background-color: transparent;
  width: 30%;
  cursor: pointer;
  outline: none;
}
.rating-list-item {
  width: 200px;
  list-style-type: none;
}

.activecls {
  color: red;
  font-weight: bold;
}
